.card {
    position: relative;
  }
  
  .card-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(0, 0, 0, 0.5);
    }
  
  .card:hover .card-overlay {
      opacity: 1;
    }

    .card-btn:hover{
      background-color: crimson;
      color: white;

    }

    .caption{
      
      background-color: rgba(0, 0, 0, 0.781);

    }
    .slide-title{
      padding: 10px;
     
    }
    .slide-catagory{
      display: inline;
      background-color: rgba(0, 0, 0, 0.781);
      padding: 10px;
    }