
.myImg{
    border-radius: 50% 50% 50% 50%;
    background-color: azure;
    /* border-bottom:  50px solid rgb(156, 191, 221);
    border-top: 10px solid rgb(180, 200, 218); */
    
}

.social-icon{

}